Python files/.idea/
Python files/__pycache__/
Python files/constants.pyc
desktop.ini
Manuscript/*.aux
Manuscript/*.log
Manuscript/*.spl
Manuscript/*.synctex.gz
Manuscript/*.bbl
Manuscript/*.blg
Data_Process/database_out_empty.h5
Data_Process/check_report.txt